################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin-int/Debug-x64
/bin/Debug-x64
/.vs
/.ionide
